.chat-input-container{
    height: 62px;
    background-color: #202c33;
    z-index: 2;
    position: relative;
    padding: 2px 20px;
    display: flex;
    align-items: center;
}
.chat-expressions-button, .chat-plus-button, .chat-send-button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
}
.chat-expressions-button{
    height: 42px;
    background-color: #2a3942;
    margin-left: 8px;
    padding-left: 9px;
    border-radius: 8px 0 0 8px;
}
label{
    display: none;
}
.chat-input{
    display: flex;
    align-items: center;
    width: 100%;
}
.chat-input-form{
    width: 100%;
    display: flex;
    align-items: center;
}
.input{
    height: 42px;
    margin: 5px 8px 5px 0;
    padding-left: 10px;
    width: 100%;
    border: none;
    outline: none;
    background-color: #2a3942;
    border-radius: 0 8px 8px 0;
    color: #d0d7db;
    font-size: 15px;
}
.input::placeholder{
    color: #8797a1;
    font-size: 15px;
}