.register-form-container{
  height: 100dvh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(circle at center, #3c434a 0%, #242e36 100% );
}
.register-form-content-container{
  background-color: #222c33;
  border-radius: 10px;
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px;
  gap: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.427);
}
.register-whatsapp-logo{
  width: 40px;
  height: 40px;
}
.register-form-title{
  color: #efefef;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}
.register-form{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.form-field{
  width: 100%;
}
.register-form-input{
  width: 100%;
  height: 30px;
  background-color: transparent;
  border: 1px solid #28c969;
  border-radius: 5px;
  padding: 0 10px;
  outline: none;
  color: #efefef;
}
.register-form-input::placeholder{
  color: #c2c2c2;
}
.register-button{
  width: 100%;
  height: 30px;
  background-color: #28c969;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #222c33;
  font-weight: 600;
  cursor: pointer;
}
.register-change-page{
  color: #28c767;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}

.password{
  min-width: 240px;
}