.status-container{
    height: 100vh;
    max-width: 410px;
    width: 100%;
    background-color: #111b21;
    z-index: 2;
    position: relative;
    border-left: 2px solid #2e3a42;
}
.my-status-container{
    padding-left: 20px;
    display: flex;
    align-items: center;
    gap: 14px;
    height: 69px;
    cursor: pointer;
}
.my-status-container:hover{
    background-color: #202c33;
}
.my-status-profile{
    height: 40px;
    width: 40px;
    border-radius: 20px;
}
.my-status{
    font-size: 16px;
    color: #d1d7db;
    font-weight: 400;
}
.add-status-message{
    color: #8696A0;
    font-size: 13px;
    font-weight: 400;
}
hr{
    height: 10px;
    background-color: #0c1317;
    border: none;
}
@media(max-width: 768px){
    .status-container{
        max-width: 100%;
    }
}