.chat-list-not-found{
    height: 184px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
}
.chat-list-not-found-text{
    text-align: center;
    font-size: 14px;
    color: #8696a0;
}