.exit-container-screen{
    height: 100dvh;
    width: 100%;
    border: 1px solid black;
    background-color: rgba(10, 16, 20, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}
.exit-content-container{
    width: 500px;
    max-width: 100%;
    min-width: 0;
    height: 215px;
    background-color: #3b4a54;
    border-radius: 5px;
    padding: 22px 24px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}
.exit-text-title{
    color: #d1d7db;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}
.exit-text{
    color: #d1d7db;
    font-size: 14px;
    font-weight: 400;
}
.exit-text a{
    color: #21c063;
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
}
.exit-buttons-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    flex-wrap: wrap;
}
.cancel-button{
    padding: 10px 24px;
    color: #00a884;
    font-size: 14px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50px;
    border: 1px solid #475661;
    outline: none;
    font-weight: 600;
}
.exit-button{
    padding: 10px 24px;
    color: #111b21;
    font-size: 14px;
    background-color: #00a884;
    cursor: pointer;
    border-radius: 50px;
    border: 1px solid #475661;
    outline: none;
    font-weight: 600;
}
@media(max-width:350px){
    .exit-content-container{
        height: 250px;
    }
    .exit-buttons-container{
        flex-direction: column;
        align-items: center;
    }
    .exit-button, .cancel-button{
        width: 100%;
    }
}