.container-with-green-switch{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 78px;
    gap: 20px;
    cursor: pointer;
}
@media(max-width: 450px){
    .container-with-green-switch{
        min-height: 78px;
        height: auto;
        gap: 10px;
        margin-bottom: 10px;
    }
}
.green-switch,
.green-switch-active {
    display: flex;
    align-items: center;
    min-width: 40px;
    height: 24px;
    border-radius: 12px;
    cursor: pointer;
    padding: 0px 5px;
    transition: all 0.3s ease; 
}
.green-switch {
    border: 2px solid #6d767a;
    background-color: #12181c;
}
.green-switch-active {
    justify-content: end;
    border: 2px solid #21bf63;
    background-color: #21bf63;
}
.green-switch-circle,
.green-switch-circle-active {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    transition: all 0.3s ease;
}
.green-switch-circle {
    background-color: #6d767a;
}
.green-switch-circle-active {
    background-color: #0a1014;
}
.green-switch:hover .green-switch-circle,
.green-switch-active:hover .green-switch-circle-active {
    width: 17px;
}