.channels-header{
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
.channels-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 10px;
    margin-bottom: 24px;
}
.channels-top-text{
    font-size: 19px;
    font-weight: 400;
    color: #e9edf0;
}
.channels-bottom-text{
    font-size: 17px;
    font-weight: 400;
    color: #8696a0;
}
.whatsapp-channel-container{
    display: flex;
    align-items: center;
    height: 72px;
    padding: 0px 16px;
}
.whatsapp-channel-image{
    height: 49px;
    width: 49px;
    border-radius: 25px;
    background-color: white;
}
.whatsapp-channel-name-button-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-left: 16px;
    border-bottom: 1px solid #212c33;
}
.whatsapp-channel-name{
    font-size: 17px;
    font-weight: 400;
    color: #e9edf0;
}
.whatsapp-channel-message{
    font-size: 14px;
    font-weight: 300;
    color: #aebac1;
    height: 20px;
    display: flex;
    align-items: center;
}
.follow-button{
    padding: 10px 16px;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid #212c33;
    color: #00a884;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}
.following{
    background-color: #0a332c;
}