.new-community-header{
    padding-left: 25px;
}
.account-title{
    color : #e9edf0;
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
}
.account-list{
    list-style-type: none;
}
.account-list-item{
    height: 60px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 22px;
    gap: 22px;
    color: #e9edf0;
    font-size: 17px;
    font-weight: 400;
}
.account-list-item:hover{
    background-color: #202c33;
}
a{
    text-decoration: none;
}